
@{
    ViewBag.Title = "Lỗi xảy ra khi xử lý yêu cầu";
    Layout = "../Shared/Error.cshtml";
}

<div class="container error-page">
    <div class="error-content">
        <h1 class="title">
            500
        </h1>
        <p class="heading">Lỗi xảy ra trong khi xử lý yêu cầu của bạn. Vui lòng kiểm tra sau một thời gian.</p>
    </div>
    <div class="text-center">
        <a class="btn btn-outline" href="/">QUAY VỀ TRANG CHỦ</a>
    </div>
</div>



