@{
    ViewBag.Title = "Không tìm thấy trang yêu cầu";
    Layout = "../Shared/Error.cshtml";
}

<div class="container error-page">
    <div class="error-content">
        <h1 class="title">
            404
        </h1>
        <p class="heading">Chúng tôi không tìm thấy trang bạn yêu cầu.</p>
        <p>Trang này không tồn tại hoặc đã bị xóa khỏi website.</p>
    </div>
    @*<div class="text-center">
        <a class="btn btn-outline" href="/">QUAY VỀ TRANG CHỦ</a>
    </div>*@
</div>

