<appSettings>
	<add key="webpages:Version" value="1.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />

	<!--Hosting-->
	<add key="DomainUrl" value="https://localhost:44335/"/>
	<add key="ImageHosting" value="https://localhost:44329/"/>

	<!--Config-->
	<add key="ItemPerPage" value="20" />
	<add key="IsDebug" value="false" />
	
	<!--Email Config-->
	<add key="FromEmailAddress" value="noreply@gomicorp.vn" />
	<add key="FromEmailDisplayName" value="Gomi Center" />

</appSettings>