html, body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  min-width: 320px;
  background: #f1f1f1;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
}

.field-validation-error {
  color: #dc3545;
}

.modal-dialog {
  margin-top: 60px;
}

/* ViaCss: Set the width. It will work since the inline style width is removed. */
.select2-container {
  width: 100%;
}

.input-group .select2-container {
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.input-group > .select2-container--bootstrap4:not(:last-child) .select2-selection {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

select.form-control[multiple], select.form-control[size] {
  height: 200px;
}
select.form-control[multiple] > option, select.form-control[size] > option {
  font-weight: 500;
  padding: 5px 2px;
  color: #000;
}

.form-switch {
  padding-left: 2.5em !important;
}

.cursor-pointer {
  cursor: pointer;
}

.select2-container {
  width: 100% !important;
  padding: 0;
}

.table.table-text-middle td, .table.table-text-center th {
  vertical-align: middle;
}
.table.table-text-center td, .table.table-text-center th {
  text-align: center;
}

.loading {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.loading:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fafafa;
  opacity: 0.6;
  z-index: 100008;
  display: block !important;
}
.loading.loading-full-screen {
  position: fixed;
  z-index: 10009;
}

.loading:before {
  display: block !important;
  position: absolute;
  content: "";
  top: 0;
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #EB5D27;
  z-index: 100009;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {
    left: -200px;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}
.content-header {
  background-color: #fff;
}

.content-wrapper section.content {
  padding: 20px 15px;
}

.signIn-box {
  width: 360px;
  margin: 7% auto;
}
.signIn-box .signIn-logo {
  margin-bottom: 25px;
}
.signIn-box .signIn-logo img {
  width: 200px;
}
.signIn-box .signIn-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}
.signIn-box .signIn-box-body {
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
}
.signIn-box .form-control-feedback {
  color: #777;
}
