<connectionStrings>

	<!--<add name="DatabaseContext" connectionString="Data Source=hellosoft.cycw8nt8asgc.ap-southeast-1.rds.amazonaws.com, 1433;Initial Catalog=GOMDoriBD;User ID=gomd_db;Password=Gomdori2024@*" providerName="System.Data.SqlClient" />-->

	<add name="DatabaseContext" connectionString="Data Source=hellosoft.cycw8nt8asgc.ap-southeast-1.rds.amazonaws.com, 1433;Initial Catalog=Ragdoll;User ID=ragdoll_db;Password=ragdoll@2024**" providerName="System.Data.SqlClient" />

</connectionStrings>