
@{
    ViewBag.Title = "Soon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/lib/css/soon.css">

<div class="bg-gradient-to-t flex justify-center min-h-screen">
    <img src="~/lib//img/airdrop_BG.jpg" alt="Your Image" class="object-cover" />
</div>

