// Media size
$mobile-m_width: 575px;
$mobile-l_width: 767px;
$tablet_width: 991px;
$desktop_width: 992px;
$desktop-l_width: 1200px;

// Font Size
$font_size: 14px;

// Color
$primary_color: #EB5D27;
$secondary_color: #606161;

// Text Color
$primary_text_color: #333;
$secondary_text_color: #8C8C8C;
$title_text_color: #4e5052;

$secondary_light_text_color: #e9ecef;


// Menu
$width_menu: 240px;